* {
    color: white;
    line-height:75%;
    font-size:large;
}
header{
    background-color:green;
    min-height:auto;
    min-width: auto;
    text-align: center;
    font-family:monospace;
    display:grid;
    }
p.not{
    line-height: 100%;
    overflow: visible;
}
body{
    visibility:visible;
    clear:none;
    font-family:Arial, Helvetica, sans-serif;
    }
footer{ 
    background-color:green;
    text-align: center;
    display:grid;
    max-width:none;
 }
div.inner{    
    box-sizing: content-box;   
    background-color:blue;
    margin: auto;
    width: 500px;
    padding:25px 1% 1px 1%;
    word-spacing: 5px;
}
td{
    width: 40px; 
    height:30px; 
    border: solid 1px silver;
    text-align:center;
}
table{
    border: 1px solid silver; 
}
aside{
    float:right;
    position: relative;
    width:150px;
}
a{
    color:red;
    margin: 0;
}
nav{
    text-align: center;
}
img{
    float:right;
}
span{
    color:red;
    font-size: 120%;
}
ul > li {
    list-style:square;
    line-height: 25px;
}

tr:first-child >
    td:first-child{
        background-color:green;
        vertical-align: bottom;
}
tr:last-child >
    td:last-child{
        background-color:red;
}
li:nth-child(even){
    color: hsl(189, 100%, 50%);
    letter-spacing: 5px;
}
div.box{
    width: 100px;
    height:100px;
    border: 5px solid white;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 15px;
    float: left;
    margin-right:15px;
    margin-top: 20px;
}
div.content:before{
    content: "Hello, Content!";
    font-size: 180%;
    font-weight: bold;
}
h1{
    font-size: 1.2em;
}
h2{
    font-size: 150%;
}
u{
    text-decoration:underline;
}